* {
    box-sizing: border-box;
}

table{
    height: 1000px;
    width: 100%;
    border: solid black 1px;
    position: relative;
    
}
td, th{
    border:  solid black 1px;
    border-collapse: collapse;
    width: 16.66%;
    height: 100px;
    text-align: center;
}


.RWD1
{
    background-color: #FEEBBB;
    border: 2px solid #fdd05d;
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 2%;
    margin: auto;
}

.SDJ1
{

    background-color: #DACAF6;
    border: 2px solid #c2a1fc;
    position: relative;
    border-radius: 2%;
    height: 100%;
    width: 90%;
    margin: auto;
}

.SEP1
{
    background-color: #CCD7FF;
    border: 2px solid rgb(169, 119, 255);
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 2%;
    margin: auto;
}

.DMA1
{
    background-color: #F8C7DE;
    border: 2px solid#fa8bbf;
    width: 90%;
    height: 100%;
    position: relative;
    border-radius: 2%;
    margin: auto;
    
}
main{
    width: 100%;
    position: relative;
}
h3,h6{
    position: relative;
    margin: auto;
    text-align: center;
    top: 10%;
    margin-bottom:10% ;
}
#mydiv{
    width: 90%;
    margin: auto;
}
.buttons
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}


