
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

main{

  @media screen and ( min-width : 1200px){
    min-height:1000px ;
  }
}
.footer-img{
  width: 20px;
}
.view-h-60 {
  height: 60vh;
}