<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exercise. Bootstrap continued</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="/images/via_logo.png" class="rounded" alt="via_logo" srcset=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#list"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-sm-flex justify-content-end" id="list">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link " href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="schedule.html">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link active" href="about.html">About</a></li>
                    <li class="nav-item disabled"><a class="nav-link " href="#">Help</a></li>
                </ul>
            </div>
        </div>

    </nav>

    <main>
        <div class="container">
            <h1 class="display-3">Some stuff about us..</h1>
            <p class="text-center fs-2">Group 7</p>
            <div class="row justify-content-center">
                <div class="col-10">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner view-h-60 text-center bg-dark">
                            <div class="carousel-item active">
                                <img src="https://i.pinimg.com/550x/5f/29/6e/5f296edbe78785e0365c233eb98e9f06.jpg" class="w-auto view-h-60">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i.pinimg.com/originals/73/cb/96/73cb960494c3e3d85e775b7b98c9aa48.jpg" class="w-auto view-h-60">
                            </div>
                            <div class="carousel-item">
                                <img src="https://c.tenor.com/zPaKW5LHC9sAAAAC/canes-black-man.gif" class="w-auto view-h-60">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <p class="h2 text-center">some text</p>
                            <p>more text</p>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-9">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Accordion Item #1
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>sample text</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Accordion Item #2
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>sample text</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Accordion Item #3
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p>sample text</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>




    <footer class="footer mt-auto py-3 bg-light  bg-light">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-lg-2 offset-lg-2 col-4 ">
                    <a href="https://www.facebook.com/wael.hadeed/" class=""><img class="rounded-circle footer-img"
                            src="../images/facebook-f-brands.svg" alt="Facebook"></a>
                </div>
                <div class="col-lg-2 offset-lg-1 col-4"> <a href="mailto:dr.315177@viauc.dk.com"><img class="rounded-circle footer-img"
                            src="../images/at-solid.svg" alt="E-mail"></a>
                </div>
                <div class="col-lg-2 offset-lg-1 col-4"> <a href="tel:29920518"><img class="rounded-circle footer-img"
                            src="../images/phone-alt-solid.svg" alt="Call"></a>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>