<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exercise. Bootstrap continued</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">We Love Potatoes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#list"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-sm-flex justify-content-end" id="list">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Recepies</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Potato talk</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nutrition and Health</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <main>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th>Date</th>
                        <th>Plan</th>
                        <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>30 Aug 12:45 – 16:05</td>
                        <td>Studying at VIA</td>
                        <td>In-class attendance
    
                            -Introduction to VIA
                            -Introduction to Problem Based Learning
                            -UN Sustainable Development Goals
                        </td>
                    </tr>
                    <tr>
                        <td>6 Sep 12:45 – 16:05</td>
                        <td>Own learning process</td>
                        <td>
                            -Study techniques
                            -Single tasking
                            -Note taking
                        </td>
                    </tr>
                    <tr>
                        <td>8 Sep 08:20 – 11:50</td>
                        <td>SEP intro</td>
                        <td>Study Start Test from 9:10-9:55
                            SEP intro 10:00-11:00</td>
                    </tr>
                    <tr>
                        <td>13 Sep 12:45 – 16:05</td>
                        <td>Effective Teams</td>
                        <td>Group work
                            Team dynamics
                            Conflict resolution
                            Please complete the learning path on your own.
                            
                            Note that the final step in the learning path includes 
                            instructions for registering your group wish. You have to 
                            talk to each 
                            other before writing the names of other students.
                        </td>
    
                    </tr>
                    <tr>
                        <td>
                            15 Sep 08:20 – 11:50
                        </td>
                        <td>	
                            Open facilitation hours
                        </td>
                        <td>
                            I (Mona) am available from 12:45-14:20 on Discord in the SEP1/PBL facilitation chat room
                            Only show up if you have any questions :-)
    
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>

        </div>
    </main>

</body>

</html>