<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exercise. Bootstrap continued</title>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/schedule_week.css" type="text/css">
    <script src="../js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="../images/via_logo.png" class="rounded icon"
                    alt="via_logo" srcset=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#list"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-sm-flex justify-content-end" id="list">
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link active" href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="schedule_week.html">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item disabled"><a class="nav-link deactive" href="#">Help</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <main>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 >Schedule: <span id="schedule"></span></h2>
                </div>
                <div class="col-md-3">
                    <select id="semester" class="form-select" aria-label="Semester">
                        
                        <option selected value="1">Semester 1</option>
                        <option value="2">Semester 2</option>
                        <option value="3">Semester 3</option>
                        <option value="4">Semester 4</option>
                        <option value="5">Semester 5</option>
                        <option value="6">Semester 6</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="class" class="form-select " aria-label="class">
                        
                        <option selected value="X">Class X</option>
                        <option value="Y">Class Y</option>
                        <option value="Z">Class Z</option>
                        <option value="DK">Class DK</option>
                    </select>
                </div>
                
                
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex">
                    <button id="previous_week" class="btn btn-primary align-self-center" on type="submit">Previous Week</button>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <button id="next_week" class="btn btn-primary" type="submit">Next Week</button>
                </div>
            </div>
        </div>

        <div id="mydiv">
            <table id="table">
                <tr>
                    <th>Week <span id="week"></span></th>
                    <th>Monday</th>
                    <th>Tusday</th>
                    <th>Wednsday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <td>8:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>15:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>16:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light  bg-light">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-lg-2 offset-lg-2 col-4 ">
                    <a href="https://www.facebook.com/wael.hadeed/" class=""><img class="rounded-circle footer-img"
                            src="../images/facebook-f-brands.svg" alt="Facebook"></a>
                </div>
                <div class="col-lg-2 offset-lg-1 col-4"> <a href="mailto:dr.315177@viauc.dk.com"><img
                            class="rounded-circle footer-img" src="../images/at-solid.svg" alt="E-mail"></a>
                </div>
                <div class="col-lg-2 offset-lg-1 col-4"> <a href="tel:29920518"><img class="rounded-circle footer-img"
                            src="../images/phone-alt-solid.svg" alt="Call"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/scheduleData.js"></script>

</body>


</html>